main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,92,129,1) 35%, rgba(0,212,255,1) 100%);
}